@model Proyecto_Produccion.Models.Cpstock

@{
    ViewData["Title"] = "Create";
}

<h1>Nuevo CP Stock</h1>

<h4>Cpstock</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Demanda">Demanda</label>
                <input asp-for="Demanda" type="number" class="form-control" step="0.01" min="0" />
                <span asp-validation-for="Demanda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TiempoReposo">Tiempo de Reposición</label>
                <input asp-for="TiempoReposo" type="number" class="form-control" step="0.01" min="0" />
                <span asp-validation-for="TiempoReposo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InventarioSeguridad">Inventario de Seguridad</label>
                <input asp-for="InventarioSeguridad" type="number" class="form-control" step="0.01" min="0" />
                <span asp-validation-for="InventarioSeguridad" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Calcular Rotación</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
