@model Proyecto_Produccion.Models.JitKanban

@{
    ViewData["Title"] = "Create JIT Kanban";
}

<h1>Calcular JIT Kanban</h1>

<form method="post" asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Demanda" class="control-label">Tasa de Demanda:</label>
        <input type="number" asp-for="Demanda" class="form-control" min="0" required />
        <span asp-validation-for="Demanda" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TiempoVuelta" class="control-label">Tiempo de Vuelta de Recipiente:</label>
        <input type="number" asp-for="TiempoVuelta" class="form-control" min="0" required />
        <span asp-validation-for="TiempoVuelta" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TamañoRecipiente" class="control-label">Tamaño del Recipiente:</label>
        <input type="number" asp-for="TamañoRecipiente" class="form-control" min="0" required />
        <span asp-validation-for="TamañoRecipiente" class="text-danger"></span>
    </div>

    <!-- Mostrar o calcular N y el Inventario Máximo -->
    @if (Model.N > 0 && Model.InventarioMaximo.HasValue)
    {
        <div class="form-group">
            <label asp-for="N" class="control-label">N (Cantidad de Recipientes):</label>
            <input asp-for="N" class="form-control" readonly />
        </div>

        <div class="form-group">
            <label asp-for="InventarioMaximo" class="control-label">Inventario Máximo:</label>
            <input asp-for="InventarioMaximo" class="form-control" readonly />
        </div>
    }

    <div class="form-group">
        <input type="submit" value="Calcular JIT Kanban" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Volver al Listado</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
